.footer {
   background: $main-clr;
   color: #sec-clr;
   text-align: center;
   padding: 2.5rem 0;
   font-size: 1rem;

   a { 
      text-decoration: none;
      color: lighten($main-clr, 50);
   }

   &__link {
    font-weight: $fw-bold;
    padding: 1rem;
   }

   &__link:hover,
   .social-list__link:hover {
      color: $sec-clr;
   }

   .social-list {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 2rem 0 0;
      padding: 0;

      &__item {
         margin: 0 .5rem;
      }

      &__link {
         padding: .5rem;
      }
   }
}