@mixin easeOut {
   transition: all .5s ease-out;
}
/*
// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
*/

@keyframes pulse{
   from {
      box-shadow: 0 0 0 0 rgba(255, 101, 8, .7);
      background: rgba(255,101,8, .7);
   }
   to{
      box-shadow: 0 0 0 1000px rgba(255,101,8, 0);
      background: rgba(255,101,8, 0);
   }
}

@keyframes openTop{
   0%{
      transform: translateY(-5px)
      rotate(0deg);
   }
   50%{
      transform: translateY(0px)
      rotate(0deg);
   }
   100%{
      transform: translateY(0px)
      rotate(90deg);
   }
}

@keyframes openMid{
   50%{
      transform: rotate(0deg);
   }  
   100%{
      transform: rotate(45deg);
   }
}

@keyframes openBtm{
   0%{
      transform: translateY(5px)
      rotate(0deg);
   }
   50%{
      transform: translateY(0px)
      rotate(0deg);
   }
   100%{
      transform: translateY(0px)
      rotate(90deg);
   }
}

@keyframes closeTop{
   0%{
      transform: translateY(-5px)
      rotate(0deg);
   }
   50%{
      transform: translateY(0px)
      rotate(0deg);
   }
   100%{
      transform: translateY(0px)
      rotate(90deg);
   }
}

@keyframes closeMid{
   50%{
      transform: rotate(0deg);
   }  
   100%{
      transform: rotate(45deg);
   }
}

@keyframes closeBtm{
   0%{
      transform: translateY(5px)
      rotate(0deg);
   }
   50%{
      transform: translateY(0px)
      rotate(0deg);
   }
   100%{
      transform: translateY(0px)
      rotate(90deg);
   }
}


@mixin phone  {@media screen and (max-width: 600px)  {@content;}}
@mixin table  {@media screen and (max-width: 767px)  {@content;}}
@mixin laptop {@media screen and (min-width: 1001px)  {@content;}}
@mixin desktop{@media screen and (min-width: 1200px) {@content;}}